@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h3 class="display-4">About FlyTrap.</h3>
    <br />
    <p>
        FlyTrap is a simple, intuitive and completely free bug tracking system, featuring
        issue tracking on a per-project basis, priority levels, Issue organization/searching
        and more, all within a secure authentication and authorization system.
    </p>
    <br />
    <p>
        FlyTrap was created in 2020 by Alex Derouchie as a software design project demonstrating
        the use of technologies such as C#, ASP.NET Core, HTML, CSS, JS, MVC design pattern, OAuth,
        and more. for the full project source code, see <a href="https://github.com/alex-derouchie/FlyTrap" target="_blank">the FlyTrap GitHub repository.</a>
    </p>
</div>