@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<br />

<p>Your Privacy is important to us.</p>

<p>
    At FlyTrap, your information is never sold or distributed. Ever. Apart from third-party authentication,
    your data, actions, and personal information stays with us, period.
</p>
<p>
    All user data is stored on databases secured with modern, industry standard encryption methods and 
    is available to the minimum amount of individuals possible, in many cases 0 (Passwords, for example).
    Should we ever break your trust, or you decide you are no longer interested in using our platforms, simply
    <a href="/Identity/Account/Manage/PersonalData">delete your data</a> using the profile management settings.
</p>
