/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.theme-red {
    color: #FC4445;
}

.theme-peri {
    color: #CAFAFE;
}

.theme-aqua {
    color: #3FEEE6;
}

.theme-steel {
    color: #97CAEF;
}

.theme-teal {
    color: #55BCC9;
}

.theme-red-bg {
    background-color: #FC4445;
}

.theme-peri-bg {
    background-color: #CAFAFE;
}

.theme-aqua-bg {
    background-color: #3FEEE6;
}

.theme-steel-bg {
    background-color: #97CAEF;
}

.theme-teal-bg {
    background-color: #55BCC9;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    transition: all 0.3s
}

    #sidebar .sidebar-header {
        padding: 20px 20px 0 20px;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }


a {
  color: #55BCC9;
}

/* Hides navbar by default */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}

#login-partial {
    padding: 20px;
    position: absolute;
    bottom: 40px;
}

.manage-content {
    padding-top: 20px;
    padding-left: 60px;
}

.magage-nav {
    padding-top: 20px;
    padding-left: 20px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
    background-color: #F5F5F5;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.footer a {
    color: #000;
    text-decoration: underline;
}